<!DOCTYPE HTML>
<html>

<head>
	<title>#AgendaDigital Paraguay</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="icon" type="image/png" href="/assets/images/logo.png"/>
	<noscript>
		<link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
	<div id="wrapper">
		<header id="header">
			<div class="inner">
				<a href="/" class="logo">
					<span class="symbol">
						<img src="/assets/images/logo.png" />
					</span>
					<span class="title">#AgendaDigital</span>
				</a>

				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

			</div>
		</header>

		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/propuestas">Propuestas</a></li>
				<li><a href="/documentacion">Documentación</a></li>
				<li><a href="/seguimiento">Seguimiento</a></li>
				<li><a href="/solicitudes">Solicitudes de información</a></li>
				<li><a href="/gobierno-digital">Componente 1: Gobierno Digital</a></li>
				<li><a href="/economia-digital">Componente 2: Economía Digital</a></li>
				<li><a href="/conectividad">Componente 3: Conectividad</a></li>
				<li><a href="/fortalecimiento-institucional">Componente 4: Fortalecimiento Institucional</a></li>
			</ul>
		</nav>

		<div id="main">
			<div class="inner">
				<header style="text-align: center;">
					<h3>Página no encontrada</h3>
                    <p><a href="/" class="button icon fa-home">Volver al inicio</a></p>
				</header>
				<section>
			</div>
		</div>

		<footer id="footer">
			<div class="inner">
				<section>
					<h2>Lista de correo</h2>

					<p>Si queres recibir novedades relacionadas al avance del proyecto así como iniciativas organizadas
						por la comunidad, podes suscribirte acá:</p>
					<form action="https://agendadigital.us20.list-manage.com/subscribe/post?u=0376a474727ebb7bc56cbc38f&amp;id=cafa82cab1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div class="fields">
							<div class="field half">
								<input type="email" name="EMAIL" id="email" placeholder="Correo Electrónico" />
							</div>
							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0376a474727ebb7bc56cbc38f_cafa82cab1" tabindex="-1" value=""></div>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Suscribirme" name="subscribe" class="primary" /></li>
						</ul>
					</form>
				</section>
				<section>
					<h2>Seguínos</h2>
					<ul class="icons">
						<li><a href="https://twitter.com/agendadigitalpy" class="icon style2 fa-twitter"><span
									class="label">Twitter</span></a></li>
						<li><a href="https://fb.me/agendadigitalpy" class="icon style2 fa-facebook"><span
									class="label">Facebook</span></a></li>
						<li><a href="https://chat.whatsapp.com/JbDbqE2aujCCkS9qcBP8iU" class="icon style2 fa-whatsapp"><span class="label">WhatsApp</span></a></li>
						<li><a href="https://github.com/agendadigitalpy" class="icon style2 fa-github"><span
									class="label">GitHub</span></a></li>
						<li><a href="mailto:contacto@agendadigital.com.py" class="icon style2 fa-envelope-o"><span
									class="label">Email</span></a></li>
					</ul>
				</section>
				<ul class="copyright">
					<li>Este proyecto es de código abierto y acepta colaboraciones <a
							href="https://github.com/agendadigitalpy">aquí</a>.</li>
							<li>Template de <a href="https://html5up.net/">HTML5UP</a></li>
				</ul>
			</div>
		</footer>

	</div>

	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139964338-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-139964338-1');
	</script>

</body>

</html>