<!DOCTYPE HTML>
<html>

<head>
	<title>#AgendaDigital Paraguay</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="stylesheet" href="/assets/css/extra.css" />
	<noscript>
		<link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
	<div id="wrapper">
		<header id="header">
			<div class="inner">
				<a href="/" class="logo">
					<span class="symbol">
						<img src="/assets/images/logo.png" />
					</span>
					<span class="title">#AgendaDigital</span>
				</a>

				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

			</div>
		</header>

		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/propuestas">Propuestas</a></li>
				<li><a href="/documentacion">Documentación</a></li>
				<li><a href="/seguimiento">Seguimiento</a></li>
				<li><a href="/solicitudes">Solicitudes de información</a></li>
				<li><a href="/gobierno-digital">Componente 1: Gobierno Digital</a></li>
				<li><a href="/economia-digital">Componente 2: Economía Digital</a></li>
				<li><a href="/conectividad">Componente 3: Conectividad</a></li>
				<li><a href="/fortalecimiento-institucional">Componente 4: Fortalecimiento Institucional</a></li>
			</ul>
		</nav>

		<div id="main">
			<div class="inner">
				<header>
					<h1>Buscamos transparentar la #AgendaDigital en Paraguay<br /></h1>
					<p>
						Este es un sitio creado por la comunidad donde podrás explorar los desarrollos y las metas
						detrás del proyecto.
					</p>
					<p>
						Toda la información expuesta aquí se basa en la documentación proveída por el BID
						(Banco Interamericano de Desarrollo) y está sujeta a cambios.
					</p>
					<p>
						Queremos divulgar el proyecto e incentivar propuestas y discusiones por parte de la comunidad
						técnica y la ciudadanía en general.
					</p>
					<p>La falta de continuidad en políticas públicas relacionadas con tecnología y la poca inversión han
						impactado mucho en nuestro país. No debemos perder la oportunidad de convertir esto en algo útil
						para las futuras generaciones. Si ya tenés alguna propuesta en mente o queres explorar las que
						ya existen:
					</p>
					<p><a href="/propuestas" class="button icon fa-bullhorn">Ver propuestas</a></p>
					<p>Si no sabes en qué consiste la agenda digital, podes empezar leyendo <a
							href="https://medium.com/@matiasbaruch/qu%C3%A9-es-la-agendadigital-y-c%C3%B3mo-nos-impacta-cc6d3a739572">este
							artículo</a>. Y posteriormente explorar los componentes del proyecto:</p>
				</header>
				<section class="tiles">
					<article class="style1">
						<span class="image">
							<img src="/assets/images/gobierno_digital.png" alt="" />
						</span>
						<a href="/gobierno-digital">
							<h2>Gobierno Digital</h2>
							<div class="content">
								<p>Digitalización de procesos y mejora de la entrega de servicios prestados por el
									sector público.</p>
							</div>
						</a>
					</article>
					<article class="style2">
						<span class="image">
							<img src="/assets/images/economia_digital.png" alt="" />
						</span>
						<a href="/economia-digital">
							<h2>Economía Digital</h2>
							<div class="content">
								<p>Mejora de la inversión en tecnología mediante el apoyo a jóvenes emprendedores y
									empresas</p>
							</div>
						</a>
					</article>
					<article class="style3">
						<span class="image">
							<img src="/assets/images/conectividad.png" alt="" />
						</span>
						<a href="/conectividad">
							<h2>Conectividad</h2>
							<div class="content">
								<p>Extensión del uso de banda ancha y mejora de su calidad y precio</p>
							</div>
						</a>
					</article>
					<article class="style4">
						<span class="image">
							<img src="/assets/images/fortalecimiento_institucional.png" alt="" />
						</span>
						<a href="/fortalecimiento-institucional">
							<h2>Fortalecimiento Institucional</h2>
							<div class="content">
								<p>Fortalecimiento del marco institucional y la capacidad gubernamental para el
									desarrollo de la agenda digital</p>
							</div>
						</a>
					</article>
				</section>
				<br />
				<section>
					<h3>Documentación y seguimiento</h3>
					<p>En <a href="/documentacion">este enlace</a> disponibilizamos toda la documentación pública que
						existe sobre el proyecto #AgendaDigital</p>
					<p>Planeamos realizar un seguimiento de los avances de este proyecto y nos gustaría hacerlo parte de
						este sitio.</p>
					<p>Las solicitudes de información pública asociadas a MITIC se encuentran <a href="/solicitudes">aquí</a>.</p>
				</section>

				<section class="tweets">
				<a class="twitter-timeline" data-lang="es" data-width="100%" data-tweet-limit="3" data-theme="light" href="https://twitter.com/AgendaDigitalPY?ref_src=twsrc%5Etfw">Tweets by AgendaDigitalPY</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</section>
			</div>
		</div>

		<footer id="footer">
			<div class="inner">
				<section>
					<h2>Lista de correo</h2>

					<p>Si queres recibir novedades relacionadas al avance del proyecto así como iniciativas organizadas
						por la comunidad, podes suscribirte acá:</p>
					<form action="https://agendadigital.us20.list-manage.com/subscribe/post?u=0376a474727ebb7bc56cbc38f&amp;id=cafa82cab1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div class="fields">
							<div class="field half">
								<input type="email" name="EMAIL" id="email" placeholder="Correo Electrónico" />
							</div>
							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0376a474727ebb7bc56cbc38f_cafa82cab1" tabindex="-1" value=""></div>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Suscribirme" name="subscribe" class="primary" /></li>
						</ul>
					</form>
				</section>
				<section>
					<h2>Seguínos</h2>
					<ul class="icons">
						<li><a href="https://twitter.com/agendadigitalpy" class="icon style2 fa-twitter"><span
									class="label">Twitter</span></a></li>
						<li><a href="https://fb.me/agendadigitalpy" class="icon style2 fa-facebook"><span
									class="label">Facebook</span></a></li>
						<li><a href="https://chat.whatsapp.com/JbDbqE2aujCCkS9qcBP8iU" class="icon style2 fa-whatsapp"><span class="label">WhatsApp</span></a></li>
						<li><a href="https://github.com/agendadigitalpy" class="icon style2 fa-github"><span
									class="label">GitHub</span></a></li>
						<li><a href="mailto:contacto@agendadigital.com.py" class="icon style2 fa-envelope-o"><span
									class="label">Email</span></a></li>
					</ul>
				</section>
				<ul class="copyright">
					<li>Este proyecto es de código abierto y acepta colaboraciones <a
							href="https://github.com/agendadigitalpy">aquí</a>.</li>
							<li>Template de <a href="https://html5up.net/">HTML5UP</a></li>
				</ul>
			</div>
		</footer>

	</div>

	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139964338-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-139964338-1');
	</script>

</body>

</html>